# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{fs,fsi,fsx,config}]
charset = utf-8
trim_trailing_whitespace = true

[paket.*]
trim_trailing_whitespace = true
indent_size = 2

[*.paket.references]
trim_trailing_whitespace = true
indent_size = 2

[*.yml]
trim_trailing_whitespace = true
indent_size = 2

[*.fsproj]
trim_trailing_whitespace = true
indent_size = 2

# fantomas conf

[*]
end_of_line = lf
       
[*.fs]
[*.{fs,fsx}]
max_line_length=140
fsharp_newline_between_type_definition_and_members=true
fsharp_max_function_binding_width=40
fsharp_max_if_then_else_short_width=60
fsharp_max_infix_operator_expression=80
fsharp_max_array_or_list_width=80
fsharp_max_array_or_list_number_of_items=5
fsharp_max_dot_get_expression_width=80
fsharp_multiline_block_brackets_on_same_column=true
fsharp_keep_max_number_of_blank_lines=1